table, th, td {
    border: 1px solid black;    
}

table {
    border-collapse: collapse;
}

th {
    width: 10%;
}

.add-btn-container {
    text-align: right;
    margin-top: 5px;
}

form > div {
    margin-bottom: 5px;
}

form > div > label {
    width: 100px;
    display: inline-block;
}

.highlight {
    color: red;
}